:root {
  --background: #e3f1f9;
  --primary: #0a62a9;
  --primary-darker: #001d3a;
  --primary-light: #9ed5fa;
}

body {
  min-height: 100vh;
}

.bg-color {
  background-color: var(--background);
}

.bm-bg-primary {
  background-color: var(--primary);
}

.bm-text-primary {
  color: var(--primary);
}

.bm-bg-primary-darker {
  background-color: var(--primary-darker);
}

.login-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: var(--primary);
  height: 52px;
}

.sidebar {
  padding-top: 24px;
  min-width: 255px;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  margin-right: 24px;
}

.sidebar ul {
  padding: 0;
}

.bm-nav-link {
  height: 36px;
  margin-bottom: 8px;
}

.bm-nav-link a {
  color: white;
  padding-left: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.bm-nav-link i {
  width: 16px;
}

.bm-nav-link--active {
  background-color: var(--primary);
  border-left: 3px solid var(--primary-light);
}

.bm-nav-link--active a {
  color: var(--primary-light);
  padding-left: 21px;
}

.dashboard-row {
  display: flex;
}

.bm-input--file {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 240px;
  border: 2px dashed #b9b9b9;
  border-radius: 4px;
}

.bm-input--file__small {
  height: 80px;
  width: 96px;
}

.bm-input--file__small span {
  font-size: 0.8em;
}

.file-upload {
  display: none;
}

.bm-cursor-pointer {
  cursor: pointer;
}

.bm-horizontal-scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.bm-horizontal-scrollable > .bm-card-product {
  flex: 0 0 auto;
}

.bm-two-lines-truncate {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bm-card-product {
  width: 209px;
}

.bm-card-product > img {
  height: 177px;
  width: 100%;
  object-fit: cover;
}

.bm-card-product__small {
  width: 166px;
  height: 100%;
}

.bm-card-product__small > img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.thumbnail-primary-photo {
  height: 326px;
  width: 326px;
  object-fit: cover;
}

.mini-thumbnail-photo {
  height: 92px;
  width: 92px;
  object-fit: cover;
}

.thumbnail-primary-photo,
.mini-thumbnail-photo {
  border-radius: 4px;
}

.photo-40 {
  height: 48px;
  width: 48px;
}

.rounded-photo {
  border-radius: 50%;
}

.bm-border-left {
  border-left: 2px solid #e7e7e7;
}

.detail-toko {
  padding: 14px 0;
  border: 1px solid #d0d9e5;
  border-radius: 4px;
}

.multiline {
  white-space: pre-wrap;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
  .bm-border-left {
    border-right: 2px solid #e7e7e7;
  }
}
@media only screen and (min-width: 1200px) {
  .bm-card-product__small {
    width: 209px;
  }

  .bm-card-product__small > img {
    height: 177px;
  }
}
